/**
 * MODULES
 */
.header-main {
  background-color: #ff8275;
  height: 64px;
}
.title-main {
  font-size: 2em;
  float: left;
  margin-right: 48px;
}
.article-group {
  background-color: #f4d03f;
}
.search-input {
  height: 24px;
}
.search-button {
  height: 32px;
}
/**
 * TOP NAVIGATION
 */
.top-navigation {
  position: relative;
  left: 0;
}
input.toggle-input {
  display: none;
}
input.toggle-input:checked + .toggle-label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #585858;
}
input.toggle-input:checked ~ .category-navigation {
  min-width: 200px;
  padding: 5px 10px;
  box-shadow: 2px 2px 3px #888888;
}
label.toggle-label {
  cursor: pointer;
  text-align: center;
  line-height: 29px;
}
label.toggle-label:hover {
  color: #656565;
}
.category-navigation {
  position: fixed;
  top: 63px;
  left: 0;
  background-color: #ffb0a8;
  overflow: hidden;
  z-index: 10;
  height: 100%;
  max-width: 0;
  padding: 5px 0;
  box-shadow: none;
  transition: all .2s linear;
}
.category-navigation a {
  display: block;
  color: #323232;
}
.orientation-button {
  height: 29px;
  vertical-align: middle;
}
/**
 * COLUMNS
 */
.column-item {
  min-height: 90px;
}
/**
 * NOTE
 */
.note {
  box-shadow: 2px 2px 3px #888888;
}
.note-header {
  text-align: center;
  height: 24px;
}
.note-yellow {
  background-color: #f1c40f;
}
.note-blue {
  background-color: #3498db;
}
.note-green {
  background-color: #2ecc71;
}
.note-red {
  background-color: #ff5442;
}
.note-content {
  padding: 8px;
  max-height: 300px;
  overflow-x: auto;
}
.note-todo input {
  display: block;
}
.note-image img {
  width: 100%;
  height: 80%;
}
.note-text p {
  font-color: #323232;
}
