doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Learn CSS Layout
    link(rel='stylesheet', href='css/style.css')
  body
    header.l-header.header-main.fixed-top
      // this is meant ot be at the top of the header 
      section.l-group
        // this is meant to be site's main title 
        h1.title-main Learn CSS Layout
        input.search-input(type='text', placeholder='Yang ingin dicari...')
      // this is meant to be at the bottom of the header 
      section.l-group
        input#toggle.toggle-input(type='checkbox')
        label.toggle-label(for='toggle') ☰ Menu
        nav.category-navigation
          ul
            li
              a(href='#', title='Active') Active
              a(href='#', title='Archived') Archived
              a(href='#', title='Reminders') Reminders
        // to be placed on the right 
        .l-right
          button.orientation-button H
          button.orientation-button V
      
    // this is meant to be the place where each item is shown 
    .l-content.l-group.article-group(role='main')
      article.item
        header
          h2 CSS Experiments
      article.item
        header
          h2 DOM Experiments
      article.item
        header
          h2 AJAX Experiments
      article.item
        header
          h2 Canvas Experiments
      article.item
        header
          h2 SVG Experiments
      article.item
        header
          h2 WebRTC Experiments
    // this is meant to be a footer 
    footer.l-bottom
      p This is a footer
