doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Learn CSS Layout
    link(rel='stylesheet', href='css/style.css')
  body
    header.l-header.header-main.fixed-top
      section.l-group
        h1.title-main Learn CSS Layout
        input.search-input(type='text', placeholder='Yang ingin dicari...')
      section.l-group
        // TODO still incorrect
        input#toggle.toggle-input(type='checkbox')
        label.toggle-label(for='toggle') ☰ Menu
        nav.category-navigation
          ul
            li
              a(href='#', title='Active') Active
              a(href='#', title='Archived') Archived
              a(href='#', title='Reminders') Reminders
        // to be placed on the right
        // TODO incorrect
        .l-right
          button.orientation-button H
          button.orientation-button V

    .l-content.l-group.l-article-group(role='main')
      article.item.item-yellow
        header
          h2 CSS Experiments
      article.item.item-yellow
        header
          h2 DOM Experiments
      article.item.item-yellow
        header
          h2 AJAX Experiments
      article.item.item-yellow
        header
          h2 Canvas Experiments
      article.item.item-yellow
        header
          h2 SVG Experiments
      article.item.item-yellow
        header
          h2 WebRTC Experiments
    // this is meant to be a footer 
    // TODO still incorrect
    footer.l-bottom
      p This is a footer
