doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Learn CSS Layout
    link(rel='stylesheet', href='css/style.css')
  body
    header.l-header.l-fixed-top.header-main
      section.l-group
        h1.title-main Learn CSS Layout
        input.search-input(type='text', placeholder='Yang ingin dicari...')
      section.l-group
        // TODO still incorrect
        input#toggle.toggle-input.l-left(type='checkbox')
        label.toggle-label.l-left(for='toggle') ☰ Menu
        nav.category-navigation.l-left
          ul
            li
              a(href='#', title='Active') Active
              a(href='#', title='Archived') Archived
              a(href='#', title='Reminders') Reminders
        // to be placed on the right
        // TODO incorrect
        .l-right
          button.orientation-button H
          button.orientation-button V

    .l-content.l-group.l-article-group(role='main')
      .l-masonry-column
        article.column-item.note.note-green
          header.note-header
            h2 CSS Experiments
          .note-content
            .note-image
              img(src='./pics/learn-layout.png')
            .note-text
              p Need to study CSS Layout
          footer.note-footer
        article.column-item.note.note-yellow
          header.note-header
            h2 DOM Experiments
          .note-content
            ul.note-todo
              li
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
          footer.note-footer
        article.column-item.note.note-red
          header.note-header
            h2 AJAX Experiments
          .note-content
          footer.note-footer
        article.column-item.note.note-yellow
          header.note-header
            h2 Canvas Experiments
          .note-content
            ul.note-todo
              li
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
          footer.note-footer
        article.column-item.note.note-blue
          header.note-header
            h2 SVG Experiments
          .note-content
            .note-text
              p Where's the lorum itsum?
          footer.note-footer
        article.column-item.note.note-blue
          header.note-header
            h2 WebRTC Experiments
          .note-content
            ul.note-todo
              li
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
                input(type='checkbox')
          footer.note-footer
    // this is meant to be a footer 
    // TODO still incorrect
    footer.l-bottom
      p This is a footer
