/**
 * MODULES
 */
@import "variable.less";

.header-main {
    background-color: lighten(@red-color, 10%);
    height: 64px;
}

.title-main {
    font-size: 2em;
    float: left;
    margin-right: 48px;
}

.article-group {
    background-color: lighten(@yellow-color, 10%);
}

.search-input {
    height: 24px;
}

/**
 * TOP NAVIGATION
 */

.top-navigation {
    position: relative;
    left: 0;
}

input.toggle-input {
    display: none;

    &:checked + .toggle-label {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
        color: lighten(@black-color, 15%);    
    }

    &:checked ~ .category-navigation {
        min-width: 200px;

        padding: 5px 10px;

        box-shadow: 2px 2px 3px #888888;
    }
}

label.toggle-label {
    cursor: pointer;
    text-align: center;
    line-height: 29px;

    &:hover {
        color: lighten(@black-color, 20%);
    }
}

.category-navigation {
    position: fixed;
    top: 63px;
    left: 0;

    background-color: lighten(@red-color, 20%);

    overflow: hidden;

    z-index: 10;
    
    height: 100%;
    max-width: 0;
    padding: 5px 0;

    box-shadow: none;

    transition: all .2s linear;

    a {
        display: block;
        color: @black-color;
    }
}

/**
 * COLUMNS
 */

.column-item {
    min-height: 90px;
}

/**
 * NOTE
 */

.note {
    box-shadow: 2px 2px 3px #888888;
    position: relative;

    &:hover .note-footer-item {
        visibility: visible;
    }
}

.note-header {
    text-align: center;
    height: 24px;
}

.note-yellow {
    background-color: @yellow-color;
}

.note-blue {
    background-color: @blue-color;
}

.note-green {
    background-color: @green-color;
}

.note-red {
    background-color: @red-color;
}

.note-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    min-height: 80px;
    max-height: 250px;
    overflow-y: auto;
}

.note-todo input {
    display: block;
}

.note-image img {
    width: 100%;
    height: 80%;
}

.note-text p {
    font-color: #323232;    
}

.note-footer {
    width: 100%;
    text-align: center;
    min-height: 24px;
}

.note-footer-item-container {
    height: 24px;
}

.note-footer-item {
    float: left;
    width: 15%;
    visibility: hidden;

    a {
        color: lighten(@black-color, 20%);
    }

    a:hover {
        color: @black-color;
    }
}

.note-reminder {
    border-top: 1px solid @black-color;
    height: 24px;
}