/**
 * MODULES
 */

.header-main {
    background-color: #E79189;
    height: 64px;
}

.title-main {
    font-size: 2em;
    float: left;
    margin-right: 48px;
}

.article-group {
    background-color: #F1DB82;
}

.search-input {
    height: 24px;
}

input.toggle-input {
    display: none;

    &:checked + .toggle-label {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
        color: #C24032;    
    }

    &:checked ~ .category-navigation {
        max-height: 500px;
        max-width: 100px;
    }
}

label.toggle-label {
    cursor: pointer;
    text-align: center;
    line-height: 29px;

    &:hover {
        color: #E74C3C;
    }
}

.category-navigation {
    overflow: hidden;
    z-index: 10;
    max-height: 0;
    max-width: 0;

    transition: all .2s linear;
}

.orientation-button {
    height: 29px;
    vertical-align: middle;
}

.column-item {
    border: 1px solid yellow;
    min-height: 90px;
}

.column-item-header {
    text-align: center;
}

.todo-list input {
    display: block;
}

.column-item-yellow {
    background-color: #F39C12;
}

